<!DOCTYPE html>
<html lang="en" ng-app="NetFM">
    <head>
        <title>NetFM - Advanced file manager in your web browser</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <script src="js/libs/angular.min.js"></script>
        <script src="js/netfm/main.js"></script>
    </head>
    <body class="well">
        <div class="container" ng-controller="ViewController as viewCtrl">
            <div class="row">
                <ul class="breadcrumb">
                    <li><a href="#"><i class="fa fa-home"></i></a></li>
                    <li ng-repeat="crumb in viewCtrl.currentTab.breadcrumb track by $index" ><a>{{crumb}}</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="panel panel-default" ng-controller="BookmarkController as bmCtrl">
                        <div class="panel-heading">
                            <i class="fa fa-bookmark"></i> Bookmarks 
                            <a class="pull-right" ng-click="bmCtrl.toggle()">
                                <i class="fa" ng-class="bmCtrl.toggled ? 'fa-toggle-down' : 'fa-toggle-up'"></i>
                            </a>
                        </div>
                        <div class="list-group" ng-class="{'collapse': bmCtrl.toggled}">
                            <a href="javascript:;" class="list-group-item" ng-repeat="bm in bmCtrl.bookmarks">{{bm}}</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <ul class="nav nav-tabs folder-tabs">
                        <li ng-repeat="tab in viewCtrl.tabs" ng-class="{'active': tab == viewCtrl.currentTab}" ng-click="viewCtrl.setTab(tab)">
                            <a href="#">
                                <i class="fa fa-folder"></i> {{tab.basename()}} <i class="fa fa-close" ng-if="viewCtrl.tabs.length > 1" ng-click="viewCtrl.closeTab(tab)"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" ng-click="viewCtrl.addTab()">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="panel panel-default folder-view">
                        <div class="panel-body">
                            <a ng-repeat="entry in viewCtrl.currentTab.content" class="{{entry.type}}">{{entry.name}}</a>
                        </div>
                        <div class="panel-footer">Total: {{viewCtrl.currentTab.content.length}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div id="ctx-folder">
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">Test 1</a></li>
                <li><a href="#">Test 2</a></li>
                <li><a href="#">Test 3</a></li>
                <li><a href="#">Test 4</a></li>
                <li><a href="#">Test 5</a></li>
                <li><a href="#">Test 6</a></li>
                <li><a href="#">Test 7</a></li>
            </ul>
        </div>
        <div id="ctx-view">
            <ul class="dropdown-menu" role="menu">
                <li><a href="#"><i class="fa fa-file"></i> New document</a></li>
                <li><a href="#"><i class="fa fa-folder"></i> New directory</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-refresh"></i> Refresh</a></li>
                <li><a href="#"><i class="fa fa-sort-alpha-asc"></i> Order by name</a></li>
                <li><a href="#"><i class="fa fa-sort-amount-asc"></i> Order by size</a></li>
                <li><a href="#"><i class="fa fa-cogs"></i> Properties</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="fa fa-terminal"></i> Open terminal here</a></li>
            </ul>
        </div>
        <div id="ctx-file">
            <ul class="dropdown-menu" role="menu">
                <li><a href="#">File Test 1</a></li>
                <li><a href="#">File Test 2</a></li>
                <li><a href="#">File Test 3</a></li>
                <li><a href="#">File Test 4</a></li>
            </ul>
        </div>
        <script src="js/libs/jquery-1.11.2.min.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>
        <script src="js/plugins/bootstrap-contextmenu.js"></script>
        <script type="text/javascript">
            $(function() {
                $(".folder").contextmenu({
                    target: "#ctx-folder"
                });
                $(".folder-view").contextmenu({
                    target: "#ctx-view",
                    onItem: function(context, e) {
                        if ($(e.target).text() == "New ") {
                            if (!$(e.target).hasClass("expanded")) {
                                $(e.target).parent()
                                .after("<li class='divider'></li>")
                                .after("<li><a><i class='fa fa-file'></i> Document</a></li>")
                                .after("<li><a><i class='fa fa-folder'></i> Directory</a></li>");
                            }  
                            return false;
                        }
                    }
                });
                $(".file").contextmenu({
                    target: "#ctx-file"
                });

                $('[id^=ctx-]')
                .on('show.bs.context', function(e){
                    $(this).find('.dropdown-menu').first().stop(true, true).slideDown(100);
                })
                .on('hide.bs.context', function(e){
                    $(this).find('.dropdown-menu').first().stop(true, true).slideUp(100);
                });

            });
        </script>
    </body>
</html>